ansible-core==2.19.*
ansible-runner
awxkit
kubernetes
openshift
boto3>=1.21
botocore>=1.24
awscli>=1.22
azure-cli>=2.34
gcloud
humanize
pytz
pytest
vp-qe-test-common @ git+https://github.com/validatedpatterns/vp-qe-test-common.git@development#egg=vp-qe-test-common
