---
name: "Container build and test"
on: [push, pull_request]

jobs:
  podman-build:
    name: Utility Container Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Utility Container Build
        run: make manifest podman-build-amd64

      - name: Run Container tests
        run: make test-amd64

      - name: Clone MCG and test a target via container
        run: |
          git clone --depth 1 https://github.com/hybrid-cloud-patterns/multicloud-gitops
          cd multicloud-gitops
          export PATTERN_UTILITY_CONTAINER=localhost/utility-container:latest-amd64
          ./pattern.sh make validate-schema
